<!DOCTYPE html>  
<html>  
  <head>  
    <title>EatShuffle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://raw.github.com/codepo8/YQL-Geo-Library/master/yqlgeo.js"></script>
    <script>  
      jQuery(window).ready(function(){  
        jQuery(initiate_geolocation);
        jQuery("#btnShfl").click(function() {
          location.reload();
        })
      });  

      $("#ajaxLoader").show();

      function initiate_geolocation() {  
        if (navigator.geolocation)  
        {  
          navigator.geolocation.getCurrentPosition(handle_geolocation_query, handle_errors);  
        }  
        else  
        {  
          yqlgeo.get('visitor', normalize_yql_response);  
        }  
      }  

      function handle_errors(error)  
      {  
        switch(error.code)  
        {  
          case error.PERMISSION_DENIED: alert("user did not share geolocation data");  
          break;  

          case error.POSITION_UNAVAILABLE: alert("could not detect current position");  
          break;  

          case error.TIMEOUT: alert("retrieving position timedout");  
          break;  

          default: alert("unknown error");  
          break;  
        }  
      }  

      function normalize_yql_response(response)  
      {  
        if (response.error)  
        {  
          var error = { code : 0 };  
          handle_error(error);  
          return;  
        }  

        var position = {  
          coords :  
          {  
            latitude: response.place.centroid.latitude,  
            longitude: response.place.centroid.longitude  
          },  
          address :  
          {  
            city: response.place.locality2.content,  
            region: response.place.admin1.content,  
            country: response.place.country.content  
          }  
        };  

        handle_geolocation_query(position);  
      } 

      function handle_geolocation_query(position){  
        lon = position.coords.latitude;
        lat = position.coords.longitude;
        var rad = Math.floor((Math.random()*300)+100); 

        /* Query foursquare API for venue recommendations near the current location. */
        $.getJSON('https://api.foursquare.com/v2/venues/explore?ll=' +lon +',' +lat +'&client_id=GJALQBJ4F1IQOEFLPHJ5GB1UR4DDZW4JZQEPQCMGZS5DL4LF&client_secret=0UUEFZIPH5LTM5IKLBXRYPKVGUPGZFDTD0HFMU2UOOX4FFVN&v=20120329&section=food&radius='+ rad, function(data) {
          venues = data['response']['groups'][0]['items'];
          /*  Find nearest venues. */
          for (var i = 0; i < 3; i++) {
            entry = venues[Math.floor(Math.random()*venues.length)];
            content =  '<h4>' + entry['venue']['name']  + '</h4> ' + '<p>' + entry['venue']['location']['address']  + '</p>' + '<hr/>';
            $(content).appendTo("#names");

            $("#ajaxLoader").hide();
          }
        })
      };  


    </script>  
  </head>  
  <body>  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">EatShuffle</a>
        </div>
      </div>
    </div>
    <hr>

    <div class="container">  
      <div class="row">

        <div id="ajaxLoader" style="display:none">
          <h2>Please wait</h2>
          <p>I'm getting my AJAX on!</p>
        </div>

        <hr/>
        <div id="names"></div>

        <button id="btnShfl" >Shuffle</button>  

      </div>  
    </div>

  </body>  
</html>  
