<DOCTYPE html>  
<html>  
  <head>  
    <title>EatShuffle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/foundation.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="../js/shuffle.js"></script>
    <script type="text/javascript" src="http://malsup.github.com/jquery.blockUI.js"></script>
    <script type="text/javascript" src="https://raw.github.com/codepo8/YQL-Geo-Library/master/yqlgeo.js"></script>
    
  </head>  
  <body>  
    <div id="topBar" class="container">
      <div class="row">
        <div class="Twelve columns">
          <h1><a href="../">EatShuffle</a></h1>
          <p>When your group can't decide where to eat.</p>
        </div>
      </div>
    </div>
    <div class="container">  
      <div class="row">
        <hr/>
        <div id="names"></div>

        <button id="btnShfl" class="nice large radius blue button" >Shuffle</button>  

      </div>  
    </div>

    <div id = "footer" class= "container">
      <div class = "row">

        <div class ="Twelve Columns">
          <hr/>
          <p> Powered by <a href="http://www.foursquare.com/">Foursquare.</a></p>
      </div>
      </div>
    </div>

  </body>  
</html>  



