<DOCTYPE html>  
<html>  
  <head>  
    <title>Shuffle Eat - Alpha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/foundation.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/shuffle.js"></script>
    <link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all">
    <script type="text/javascript" src="http://malsup.github.com/jquery.blockUI.js"></script>
    <script type="text/javascript" src="https://raw.github.com/codepo8/YQL-Geo-Library/master/yqlgeo.js"></script>
    <script>
      $(function() {
        $( "#slider" ).slider({
          value:500,
          min: 0,
          max: 1000,
          step: 100,
          stop: function( event, ui ) {
            $( "#amount" ).val( ui.value);
        $.blockUI({ message: '<img src="busy.gif" /> <h5>Shuffle Shuffle Shuffle... </h5>' });
            $(initiate_geolocation);
          }
        });
        $( "#amount" ).val($( "#slider" ).slider( "value" ));
      });
    </script>

  </head>  
  <style>
      #demo-frame > div.demo { padding: 10px !important; };
       </style>
  <body>  
    <div id="topBar" class="container">
      <div class="row">
        <div class="Twelve columns hide-on-phones">
          <h1><a href="../">EatShuffle</a></h1>
          <p>When your group can't decide where to eat.</p>
        </div>
      </div>
    </div>
    <div class="container">  
      <div class="row">
        <hr/>
        <div id="names"></div>

        <button id="btnShfl" class="nice large radius blue button" >Shuffle Eat!</button>  
      </div>  
      
    </div>

    <div id = "footer" class= "container">
      <div class = "row">

        <div class ="Twelve Columns">
          <hr/>
          <p> Powered by <a href="http://www.foursquare.com/">Foursquare.</a></p>
      </div>
      </div>
    </div>

  </body>  
</html>  



