!!!
%html
  %head
    %title EatShuffle
    %link{:href => "../css/foundation.css", :rel => "stylesheet"}
    %link{:href => "../css/app.css", :rel => "stylesheet"}

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "http://malsup.github.com/jquery.blockUI.js", :type => "text/javascript"}
    %script{:src => "https://raw.github.com/codepo8/YQL-Geo-Library/master/yqlgeo.js", :type => "text/javascript"}

    %script{:src => "../js/foundation.js", :type => "text/javascript"}
    %script{:src => "../js/app.js", :type => "text/javascript"}
  %body
    #topBar.container
      .row
        .Twelve.columns
          %h1
            %a{:href => "../"} EatShuffle
            %p.hide-on-phones When your group can't decide where to eat.
    .container
      .row
        %dl.tabs
          %dd
            %a.active{:href => "#simple1"} 500m
          %dd
            %a{:href => "#simple2"} 1000m
          %dd
            %a{:href => "#simple3"} 2000m
        %ul.tabs-content
          %li#simple1Tab.active Content at 500m
          %li#simple2Tab Content at 1K
          %li#simple3Tab Content at 2K
